<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel's Portfolio</title>
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet"/>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a href="/" class="header_logo">Daniel's Porfolio</a>
            <div class="header_nav">
                <!--<a href="/" class="header_link">Recent</a>-->
                <a href="{{ url_for('about') }}" class="header_link">About</a>
                <a href="{{ url_for('feedback') }}" class="header_link">Feedback</a>
                <a href="{{ url_for('contact') }}" class="contact_button">Contact</a>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer class="footer">
            <a href="https://www.linkedin.com/in/medeiros-daniel/" target="_blank" rel="noopener noreferrer" class="madeby">Made by Daniel Medeiros</a>
            <div class="footer_nav">
                <!--<a href="/" class="footer_link">Recent</a>-->
                <a href="{{ url_for('about') }}" class="footer_link">About</a>
                <a href="{{ url_for('feedback') }}" class="footer_link">Feedback</a>
                <a href="{{ url_for('contact') }}" class="footer_link">Contact</a>
            </div>
        </footer>
    </div>
    <aside class="aside aside-1"></aside>
    <aside class="aside aside-2"></aside>
</body>
</html>