{% extends "base.html" %}
{% block content %}
<main class="main">
    <section class="main_titles">
        <h1 class="title">I will expedite your organization decision-making with big data analytics.</h1>
        <p class="subtitle">Get to know how I can employ a broad range of data-driven skills to solve real-life problems.</p>
    </section>
    <section class="search_project">
        <form action="/" class="search_bar"> <!--later include: method="POST"-->
            <input type="text" name="search" id="search_input" placeholder="Search engine to be implemented later." aria-label="Search keywords to find related projects"/>
            <button type="submit" class="search_button"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
        </form>
    </section>    
    <section class="featured_projects">
        <h2>Featured projects</h2>
        <div class="fp_flexbox">
            <article class="fp">
                <a href="{{url_for('display_post', project='fp1')}}" class="fp_img1">
                    <div class="fp_img_title">Forecasting w/ a Machine Learning model</div>
                    <div class="fp_img_subtitle">Three ML models using scikit-learn</div>
                </a>
            </article>
            <article class="fp">
                <a href="{{url_for('display_post', project='fp2')}}" class="fp_img2">
                    <div class="fp_img_title">Python WebDev w/ Flask</div>
                    <div class="fp_img_subtitle">How I developed this very own website</div>
                </a>
            </article>
            <article class="fp">
                <a href="{{url_for('display_post', project='fp3')}}" class="fp_img3">
                    <div class="fp_img_title">Power BI dashboard</div>
                    <div class="fp_img_subtitle">See how I can use DAX and Data Storytelling</div>
                </a>
            </article>
            <article class="fp">
                <a href="{{url_for('display_post', project='fp4')}}" class="fp_img4">
                    <div class="fp_img_title">RESTFUL API w/ Flask</div>
                    <div class="fp_img_subtitle">Check my first work on APIs</div>
                </a>
            </article>
        </div>
    </section>
    <section class="about_me">
        <div class="intro">
            <p class="intro_text">
                <i class="intro_title">Nice to meet you, your next data analyst!</i><br>
                <p>
                    Having worked in multiple business verticals along with my previous experience in Business Intelligence, I have developed a wide range of skills that would meet and exceed the expectations for a data analyst role. Let me show you how.
                </p>
                <p>
                    I have a Bachelor's in Business Administration from a top Latin American university and have just finished a post-graduation program in Data Analytics at Durham College. Throughout my career, I have always engaged in many activities both in and extra campus and I have always been recognized for my commitment, result orientation, and ability to work in dynamic and multicultural environments. For me, my capacity of adapting while still continuously solving problems is my strong asset.</p>
                <p>
                    On top of that, my exposure to various challenges made me holistically understand how businesses operate and how I can employ the proper tools to address bottlenecks that are limiting organizational efficiency.
                </p>
                <p>
                    In this portfolio, you will be able to get to know me better and evaluate some of my data skills but if you would like to get in touch to discuss how I can employ them in your team's context, please don't hesitate to contact me. I am sure if I am given the opportunity, I would be able to improve processes and bring innovation to your company!
                </p>
            </p>
        </div>
    </section>
</main>
{% endblock %}